* {
  box-sizing: border-box;
}
:root {
  --Green: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  background-color: var(--Off-Black);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  line-height: 1.4;
  display: grid;
  place-content: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
}
.name {
  width: 100%;
  margin: 0;
}
.info {
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1;
  font-size: 14px;
}
h1 {
  font-weight: 400;
  color: var(--White);
  text-align: center;
  margin-top: 1.5rem;
  font-style: normal;
  margin-bottom: 1rem;
}
h3 {
  font-weight: 700;
  color: var(--Green);
  text-align: center;
  margin-bottom: 1.7rem;
  font-style: normal;
}
.container p {
  font-weight: 400;
  color: var(--White);
  font-size: 14px;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.container {
  background-color: var(--Dark-Grey);
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

/* CSS */
.buttons {
  padding: 0.7rem 0.7rem;
  height: 2.7rem;
  display: inline;
  border: 0;
  background-color: var(--Grey);
  border-radius: 10px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
}
.btn5 {
  margin-bottom: 0;
}
#btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.buttons:hover {
  background-color: var(--Green);
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.buttons:hover:after {
  opacity: 0.5;
}

.buttons:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.buttons:active:after {
  opacity: 1;
}

@media screen and (max-width: 375px) {
  body,
  .name,
  .btn {
    display: inline;
    width: 100%; /* The width is 100%, when the viewport is 375px or smaller */
  }
  .info {
    padding: 0;
  }
}
